
.todos-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #71758f;
  min-height: 100vh;
  padding: 50px;
}
h1 {
  color: #fff;
  font-size: 50px;

}
input{
  align-self: flex-start;
  width: 70%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
}
button{
  align-self: flex-start;
  background-color: #3a4076;
  color: #fff;
  padding: 15px 25px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 10px;

}